# Import libraries

In [1]:
import time                                 # the current time, pausing the Program for web driver to load the websi
import numpy as np                          # to calculate numerical values ,if needed
import pandas as pd                         # to create a tabular formate data
from bs4 import BeautifulSoup               # scrape data from HTML
from selenium import webdriver              # To automate web browser
from selenium.webdriver.common.by import By # To select attribute type

# create functions for small stages

In [31]:
def get_price_and_name(x):
    ls=[x.find_element(By.CLASS_NAME,"_4rR01T").text,x.find_element(By.CLASS_NAME,"_1_WHN1").text]
    return ls
    
def get_crawl(driver,data):
    while True:
        products = driver.find_elements(By.CLASS_NAME,"_2kHMtA")
        p_series = pd.Series(products)
        p_series = p_series.apply(get_price_and_name)
        data += list(p_series)
        next_button = driver.find_elements(By.CLASS_NAME,"_1LKTO3")
        if next_button[-1].text=="NEXT":
            next_button[-1].click()
            time.sleep(4)
            return get_crawl(driver,data)
        else:
            return data

In [30]:
driver.find_elements(By.CLASS_NAME,"_1LKTO3")[-1].text

'NEXT'

**URL**

In [11]:
url = "https://www.flipkart.com/"

**list of product**

In [12]:
product_list = ["iphone mobile","lava mobile","nokia mobile","vivo mobile"]

**Start WebDriver**

In [23]:
driver = webdriver.Chrome()

**Go to specific url in webdriver**

In [32]:
for i in product_list:
    driver.get(url)
    search =driver.find_element(By.NAME,"q")
    search.send_keys(i)
    try:
        button= driver.find_element(By.CLASS_NAME,"L0Z3Pu")
        
    except:
        button = driver.find_element(By.CLASS_NAME,"_2iLD__")
    button.click()
    data =[["name","price"]]
    time.sleep(4)
    price_name = get_crawl(driver,data)
    globals()["df_"+i.split(" ")[0]]=pd.DataFrame(price_name[1:],columns=price_name[0])

In [21]:
driver.find_element(By.CLASS_NAME,"_2iLD__")

In [36]:
df_vivo

                                      name    price
0        vivo T2x 5G (Marine Blue, 128 GB)  ₹13,999
1      vivo T2x 5G (Glimmer Black, 128 GB)  ₹13,999
2        vivo T2x 5G (Aurora Gold, 128 GB)  ₹12,999
3      vivo T2x 5G (Glimmer Black, 128 GB)  ₹12,999
4        vivo T2x 5G (Marine Blue, 128 GB)  ₹12,999
..                                     ...      ...
308    vivo X60 Pro (Shimmer Blue, 256 GB)  ₹48,990
309  vivo X60 Pro (Midnight Black, 256 GB)  ₹49,990
310   vivo Y51A (Crystal Symphony, 128 GB)  ₹16,990
311     vivo S1 Pro (Mystic Black, 128 GB)  ₹18,950
312  vivo V20 2021 (Sunset Melody, 128 GB)  ₹24,990

[313 rows x 2 columns]